.task {
  box-sizing: border-box;
  width: 100%;
  padding: var(--spacing3);
  background-color: var(--neutral-light-medium);
  border-radius: var(--spacing2);
  display: flex;
  flex-flow: row nowrap;
  gap: var(--spacing3);
  justify-content: space-between;

  h2 {
    margin: 0;
  }

  .content {
    display: flex;
    flex-flow: column nowrap;
  }

  &.completed {
    color: var(--neutral-medium);
  }
}
