/* global styles */
@use './shared/styles/mixins';

:root {
  /* spacing */
  --spacing1: 0.25rem;
  --spacing2: 0.5rem;
  --spacing3: 0.75rem;
  --spacing4: 1rem;
  --spacing5: 1.5rem;
  --spacing6: 2rem;
  --spacing7: 3rem;

  /* colors */
  --neutral-white: #ffffff;
  --neutral-light-medium: #d0d0d0;
  --neutral-medium: #a0a0a0;
  --neutral-dark: #3b3939;
  --neutral-black: #252222;
  --primary: rgb(13, 224, 196);
  --secondary: rgba(0, 183, 255, 0.589);
}

body {
  margin: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  color: var(--neutral-black);
  font-family:'Courier New', Courier, monospace;
  font-size: var(--spacing3);
}

app-root {
  @include mixins.container;
  max-width: 1440px;
  min-height: 100%;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
